[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
pymodes = "*"
python-daemon = "*"
setproctitle = "*"
pidlockfile = "*"

[dev-packages]

[requires]
python_version = "3"
